/* worst stylesheet ever
 "kill me now" ~ this stylesheet
*/
/* line 5, ../sass/index.scss */
.jumbotron {
  padding: 30px;
}
/* line 9, ../sass/index.scss */
.jumbotron.mission h2 {
  display: inline;
}
/* line 15, ../sass/index.scss */
.jumbotron.help #letter {
  text-align: left;
}
/* line 18, ../sass/index.scss */
.jumbotron.help #letter p {
  font-size: 15px;
  line-height: 130%;
}
/* line 24, ../sass/index.scss */
.jumbotron.help textarea {
  height: 200px;
  margin: 20px 0px;
}
/* line 30, ../sass/index.scss */
.jumbotron.help input, .jumbotron.help select {
  display: inline;
}
/* line 34, ../sass/index.scss */
.jumbotron.help #dont-worry, .jumbotron.help #edit {
  color: gray;
  font-style: italic;
}
/* line 40, ../sass/index.scss */
.jumbotron.help p.inline input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}
/* line 47, ../sass/index.scss */
.jumbotron.help input {
  height: 30px;
  font-size: 15px;
  line-height: 15px;
  width: 150px;
  text-align: center;
}
/* line 60, ../sass/index.scss */
.jumbotron.help #sender {
  width: 100%;
}
/* line 64, ../sass/index.scss */
.jumbotron.help #error-msg {
  display: none;
  color: red;
}
/* line 69, ../sass/index.scss */
.jumbotron.help #edit {
  display: none;
  text-align: center;
}
/* line 75, ../sass/index.scss */
.jumbotron #feedback {
  margin-top: 10px;
}
